@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --scrollbar: theme('colors.theme.500');
    --scrollbar-bg: theme('colors.theme.200');
}

.dark {
    --scrollbar: theme('colors.theme.500');
    --scrollbar-bg: theme('colors.theme.800');
}

/* Hide native scrollbar only on desktop */
@media (min-width: 768px) {
    ::-webkit-scrollbar {
        display: none;
    }

    /* For Firefox */
    * {
        scrollbar-width: none;
    }
}

/* Custom scrollbar container */
.custom-scrollbar {
    @apply hidden md:block fixed right-0 top-0;
    width: 6px;
    height: 100vh;
    background-color: var(--scrollbar-bg);
    z-index: 50;
    pointer-events: none;
}

/* Hide scrollbar for elements with .no-scrollbar class */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

code {
    word-break: break-all;
}